
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family : "Verela Round",sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height:55px;
    color: white;
    background-color: black;
}
nav ul li{
    padding: 0 12px;
}

.brand img{
    width:50px;
    padding: 0 8px;
}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}
.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family : "Verela Round",sans-serif;
    display: flex;
    width: 80%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 32px;
    background-image: url(bg.jpg);
    background-size: cover;
}


/* bottom style */
.bottom{
    position: sticky;
    height: 80px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.icons{
    margin: 12px 0;
}
.icons i{
   cursor:pointer; 
}
#myProgressBar{
    width: 70vw;
    cursor: pointer;
    
}
/* container songitem */
.songItem_container{
    margin-top: 40px;
}
.songItem{
    height: 40px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin:   12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}
.songItem img{
    width: 30px;
    margin: 0 25px ;
    border-radius: 50%;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    margin:  0px 6px;
    cursor:  pointer;
}
.songInfo{
 position: absolute;
 left:15vw;
 font-family : "Verela Round",sans-serif;

}
.songInfo img{

    opacity: 0;
    transition: opacity 0.5s ease-in;
}